<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>firstName-lastName-patronymic-age-salary-email-company ↵ -||-</p>
<p style="color:red; font-size: 20px">Warning: English only!!!</p>
<form action="#" th:action="@{/append}" method="post" enctype="multipart/form-data">
  <input type="file" name="file"/>
  <p><input type="submit" value="Append users"/></p>
</form>
</body>
</html>