<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Registration</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/registration}" th:object="${user}" method="post">
  <p>First name: <input type="text" th:field="*{firstName}" /></p>
  <p>Last name: <input type="text" th:field="*{lastName}" /></p>
  <p>Patronymic: <input type="text" th:field="*{patronymic}" /></p>
  <p>Age: <input type="text" th:field="*{age}" /></p>
  <p>Salary: <input type="text" th:field="*{salary}" /></p>
  <p>Email: <input type="text" th:field="*{email}" /></p>
  <p>Company: <input type="text" th:field="*{company}" /></p>
  <p><input type="submit" value="Registration"/> <input type="reset" value="Reset" /></p>
</form>
<a href="/searchForm">User search</a>
</body>
</html>