<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" th:action="@{/search}" th:object="${searchUser}" method="get">
  <p>First name: <input type="text" th:field="*{firstName}" /></p>
  <p>Last name: <input type="text" th:field="*{lastName}" /></p>
  <p><input type="submit" value="Submit"/> <input type="reset" value="Reset" /></p>
</form>
<a href="/registrationForm">Регистрация пользователя</a>
</body>
</html>